<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="organization" class="com.nguyenphucthienan.domain.Organization"
          p:companyName="Spring"
          p:yearOfIncorporation="2018"
          p:address-ref="address"/>

    <bean id="address" class="com.nguyenphucthienan.domain.Address"
          p:street="St. Peter"
          p:city="London"
          p:zipCode="88000"/>

</beans>